.btn-lg {
  font-size: 1.5rem;
  padding: map-get($size-btn, "large")*.25 map-get($size-btn, "large")*.5;
}
.btn-md {
  font-size: 1.25rem;
  padding: map-get($size-btn, "medium")*.25 map-get($size-btn, "medium")*.5;
}
.btn-sm {
  font-size: 0.75rem;
  padding: map-get($size-btn, "small")*.25 map-get($size-btn, "small")*.5;
}
.btn-block {
  width: 100%;
}
.btn-bold {
  font-weight: 800;
}
